<div class="panelButtons">
   <button mat-raised-button color="primary" title="Adicionar" (click)="goToProductCreate()">
      <mat-icon>add</mat-icon>
      Adicionar
   </button>
   <button mat-raised-button color="primary" title="Consultar" (click)="goToProductCreate()">
      <mat-icon>remove_red_eye</mat-icon>
      Consultar
   </button>
   <button mat-raised-button color="primary" title="Editar" (click)="goToProductCreate()">
      <mat-icon>edit</mat-icon>
      Editar
   </button>
   <button mat-raised-button color="primary" title="Excluir" (click)="goToProductCreate()">
      <mat-icon>delete</mat-icon>
      Excluir
   </button>
</div>

<div>
   <app-read-product></app-read-product>
</div>
