/* .button {
   margin-right: 10px;
}

.form {
   display: flex;
   flex-direction: column;
}

.inputMiddle {
   width: 500px;
   padding-right: 15px;
}

.inputSmall {
   width: 150px;
   padding-right: 15px;
} */