table {
   width: 100%;
}

.idColumn {
   text-align: end;
   padding-right: 15px;
   width: 50px;
}

.valueColumn {
   text-align: end;
   width: 150px;
   padding-right: 15px;
}

.actionColumn {
   text-align: center;
   width: 100px;
   padding-right: 15px;
}

.centralize-text {
   text-align: center;
}

.table-button-update,
.table-button-browse,
.table-button-delete {
   margin-left: 5px;
   width: 25px;
}

.table-button-update {
   color: #CCA700;
}

.table-button-browse {
   color: #4E8DF3;
}

.table-button-delete {
   color: #ED467F;
}

.table-button-update:hover {
   color: #aa8f15;
}

.table-button-browse:hover {
   color: #41649e;
}

.table-button-delete:hover {
   color: #ac2c57;
}