<mat-card>
   <mat-card-title>{{ title }}</mat-card-title>
   <form class="form">
      <mat-form-field *ngIf="inputId.visible" color="accent" class="inputSmall">
         <input [(ngModel)]="product.id" name="id" matInput placeholder="ID" disabled="true" />
      </mat-form-field>
      <mat-form-field *ngIf="inputName.visible" color="accent" class="inputMiddle">
         <input
            [(ngModel)]="product.name"
            name="name"
            matInput
            placeholder="Descrição"
            disabled="{{ inputName.disabled }}" />
      </mat-form-field>
      <mat-form-field *ngIf="inputPrice.visible" color="accent" class="inputSmall">
         <input
            [(ngModel)]="product.price"
            name="price"
            matInput
            placeholder="Preço"
            disabled="{{ inputPrice.disabled }}"
            currencyMask
            [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',' }" />
      </mat-form-field>
   </form>
   <button
      *ngIf="buttonConfirm.visible"
      class="button"
      mat-raised-button
      color="{{ buttonConfirm.color }}"
      disabled="{{ buttonConfirm.disabled }}"
      (click)="submit()">
      {{ buttonConfirm.caption }}
   </button>
   <button
      *ngIf="buttonCancel.visible"
      class="button"
      mat-raised-button
      color="{{ buttonCancel.color }}"
      disabled="{{ buttonCancel.disabled }}"
      (click)="back()">
      {{ buttonCancel.caption }}
   </button>
</mat-card>
