<mat-sidenav-container class="container">
   <mat-sidenav
      class="sidenav"
      mode="side"
      opened
      fixedInViewport="true"
      fixedTopGap="40">
      <mat-nav-list class="nav-list">
         <a mat-list-item routerLink="/">
            <i class="material-icons"> home </i>
            Início
         </a>
         <a>
            <button class="menu-button" mat-button [matMenuTriggerFor]="menu">
               <i class="material-icons">
                  storefront
               </i>
               Produto
            </button>
            <mat-menu #menu="matMenu">
               <button class="button-item" mat-menu-item routerLink="/products/create">Novo produto</button>
               <button class="button-item" mat-menu-item routerLink="/products">Consultar produtos</button>
            </mat-menu>
         </a>
      </mat-nav-list>
   </mat-sidenav>
   <mat-sidenav-content class="content">
      <router-outlet></router-outlet>
   </mat-sidenav-content>
</mat-sidenav-container>
