/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

body {
   background: #303030;
}

* {
   outline: 0;  
}

*::selection {
   background-color: #C2185B;
}

/* FORM STYLES */

.margin-header {
   margin-top: 40px;
}

.margin-footer {
   margin-bottom: 40px;
}

.form {
   display: flex;
   flex-direction: column;
}

.form-button {
   margin-right: 10px !important;
}

.form-input-middle {
   width: 500px;
   padding-right: 15px;
}

.form-input-small {
   width: 150px;
   padding-right: 15px;
}

/* LIST STYLE */

.filters {
   display: flex;
   margin: 15px 0;
}

ng-container td a i {
   margin-right: 15px;
}

table {
   width: 100%;
}

.table-column-id {
   text-align: end;
   padding-right: 15px !important;
}

.table-column-value {
   text-align: end;
   padding-right: 15px;
}

.table-column-actions {
   text-align: center;
   padding-right: 15px;
}

.centralize-text {
   display: flex;
   height: 55px;
   justify-content: center;
   align-items: center;
}

.table-button-update,
.table-button-browse,
.table-button-delete {
   margin-left: 5px;
   width: 25px;
}

.table-button-update {
   color: #CCA700;
}

.table-button-browse {
   color: #4E8DF3;
}

.table-button-delete {
   color: #ED467F;
}

.table-button-update:hover {
   color: #aa8f15;
}

.table-button-browse:hover {
   color: #41649e;
}

.table-button-delete:hover {
   color: #ac2c57;
}

.material-icons {
   margin-right: 15px;
}